body {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 625;
    font-style: normal;
    color: white;
    background: linear-gradient(to bottom right, #221f56, #3d1429);
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}

.nav {
    height: 7.5vh;
    max-height: 7.5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding:0;
    list-style: none;
}

.nav li {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav a {
    padding: 1vw;
    text-decoration: none;
    color: white;
}

.title {
    align-items: center;
    align-content: center;
    text-align: center;
}