---
import Layout from '../layouts/Primary.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="home - km7dev">
	<Navbar page="home"/>
	<div class="centered-block" style="height: 60vh;">
		<h1>km7dev</h1>
		<p>I'm a programmer focused primarily on C++. I really don't know what else to put here.</p>
	</div>
	<div class="centered-block" style="height: 60vh;">
		<h1>Section 2</h1>
		<p>i need more to put here</p>
	</div>
	<div class="centered-block" style="height: 60vh;">
		<h1>Section 3</h1>
		<p>i need more to put here</p>
	</div>
	<div class="centered-block" style="height: 60vh;">
		<h1>Section 4</h1>
		<p>i need more to put here</p>
	</div>
</Layout>

<style>
	.centered-block {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		font-size: 1.25em;
  		flex-direction: column;
	}
</style>