---
import MySiteLayout from '../layouts/main.astro';
---
  <style>
    .about {
      display: flex;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    }
    .about h1 {
      padding: 0;
      margin: 0;
    }
    .about img {
      width: 14rem;
      height: 14rem;
      padding: 0;
      margin: 0;
    }
  </style>
<MySiteLayout title="Home Page">
  <div class="about">
    <img src="km7dev-transparent.png"/>
    <h1>km7dev</h1>
    <p>
      some idiot programmer idk
    </p>
  </div>
</MySiteLayout>