---
import MySiteLayout from '../layouts/main.astro';
import { Image } from 'astro:assets';
import logo from '../assets/km7dev-transparent.png';
---
  <style>
    .about {
      display: flex;
      align-items: center;
      text-align: center;
      height: 100vh;
      flex-direction: column;
    }
    .about h1 {
      padding: 0;
      margin: 0;
    }
    .about img {
      width: 14rem;
      height: 14rem;
      padding: 0;
      margin: 0;
    }
    a {
      color: white;
      text-decoration: underline;
    }
  </style>
<MySiteLayout title="Home Page">
  <div class="about">
    <Image src={logo} alt="km7dev" />
    <h1>km7dev</h1>
    <p>
      I'm a programmer in high school.
      <br>
      I currently make mods for Geometry Dash using <a href="https://geode-sdk.org/">Geode</a>.
    </p>
  </div>
</MySiteLayout>