---
const { page } = Astro.props
---

<nav class="navbar">
  <a href="/" class={page === "home" ? "selected" : ""}>Home</a>
  <a href="/about" class={page === "about" ? "selected" : ""}>About</a>
  <a href="/projects" class={page === "projects" ? "selected" : ""}>Projects</a>
</nav>

<style>
  .navbar {
    display: flex;
    justify-content: center;
    gap: .25rem;
    padding: 1rem;;
  }
  .navbar > a {
    text-decoration: none;
		color: #eee;
    padding: 0.5rem 1.2rem;
    border-radius: .5rem;
  }
  .navbar > a.selected, .navbar > a:hover:not(.selected) {
    background-color: #4e3f5b5c;
  }
</style>