---
import Pages from "../components/pages.astro";
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header class="titlebar">
      <Pages/>
    </header>
    <style>
      .titlebar {
        display: flex;
        align-items: center;
      }

      .titlebar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .titlebar ul li {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        list-style: none;
      }

      body {
        font-family: "Nunito", serif;
        font-optical-sizing: auto;
        font-weight: 625;
        font-style: normal;
        color: white;
        background: linear-gradient(to bottom right, #221f56, #3d1429);
        background-attachment: fixed;
        margin: 0;
        height: 100vh;
      }
      </style>
    <style is:global>
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
</html>
